/* Ovako radi ... ne menjati NISHTA :P */


body {
    margin:0;
}
h2 {
    color:#2764ad;
    text-align:center;
    font-family: Merriweather,serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 36px;
}

.m_page {
    background-color:#f3f8fb;
    height:357px;
    text-align:center;
    max-width:1920px;
    margin:0;
    padding-top:36px;
    font-family: 'Ubuntu', sans-serif;
}

.dogadjaji {
    max-width:1920px;
    max-height:192px;
    margin: 0 auto;
    text-align:center;
    padding-top: 0px;
    padding-right: 48px;
    padding-bottom: 0px;
    padding-left: 48px;
}

.kartica { 
    color: #666;
    display:inline-block;
    max-width: 259px;
    background-color:#ffffff;
    margin-top: 0px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-left: 4px;
    min-height: 95px;
    text-align: left;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-radius: 9px;
}

.datum {
    margin-top:-4px;
    margin-right: 18px;
    width:72px;
    text-align:center;
    float:left;
    min-height: 95px; 
}

.dan {
    font-size: 36px;
    color: #df0024;
    font-weight: 700;
    display: block; 
}

.mesec {
    display: block;
    font-weight: 500;
    font-size:14px;
}

.godina {
    display: block;
    line-height: 22px;
    font-weight: 500;
    font-size:14px;
}

.naslov {
    font-family: Merriweather,serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    display: inline;
    color: #222;
    margin: 0 auto;
}

.naslov span {
    background-color: #df0024;
    font-family: Ubuntu,sans-serif;
    display: inline-block;
    color: #ffffff;
    border-radius: 4px;
    font-size: 11px;
    padding: 3px 6px;
    margin-left: 6px;
    vertical-align: middle;
    font-weight:500;
}

.info {
    clear: both;
    font-size: 13px;
    padding-top: 7px;
}

.info_vreme {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-size: 14px;
    font-size: 13px;
    margin-bottom: 4px;
    background-image: url(../img/calendar.svg);
}

.info_mesto {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-size: 14px;
    font-size: 13px;
    margin-top: auto;
    background-image: url(../img/map.svg);
}

.kartica:hover {
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.1);
    transition-duration: 0.6s;
}

a {
    text-decoration: none;
}
